* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
    -webkit-text-size-adjust: none;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding-right: 10px;
}

input:focus {
    /* font-size: 16px !important; */
}

[v-cloak] {
    display: none !important;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 布局位置 */

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

/* 隐藏滚动条 */

::-webkit-scrollbar {
    display: none;
}

.border_radius_3 {
    border-radius: 3px;
}

.border_radius_5 {
    border-radius: 5px;
}

.border_radius_10 {
    border-radius: 10px;
}

.border_radius_20 {
    border-radius: 20px;
}

.border_radius_50 {
    border-radius: 50px;
}

.circle {
    border-radius: 50%;
}

/* 选中 */

.padding_btm_10 {
    padding-bottom: 10px;
}

.padding_top_10 {
    padding-top: 10px;
}

.padding_rgt_10 {
    padding-right: 10px;
}

.padding_5_top_bottom {
    padding: 5px 0;
}

.padding_5_bottom {
    padding-bottom: 5px;
}
.padding_0_bottom {
    padding-bottom: 0px;
}

.padding_5_left_right {
    padding: 0px 5px;
}

.padding_3 {
    padding: 3px;
}

.padding_5 {
    padding: 5px;
}

.padding_10 {
    padding: 10px;
}
.padding_12 {
    padding: 12px;
}

.padding_10_top_bottom {
    padding: 10px 0;
}
.padding_12_top_bottom {
    padding: 12px 0;
}
.padding_10_left_right {
    padding: 0px 10px;
}

.padding_15 {
    padding: 15px;
}

.padding_15_top_bottom {
    padding: 15px 0;
}

.padding_15_left_right {
    padding: 0px 15px;
}

.padding_20 {
    padding: 20px;
}

.padding_20_top_bottom {
    padding: 20px 0;
}

.padding_20_left_right {
    padding: 0px 20px;
}

.margin_5 {
    margin: 5px;
}

.margin_top_5 {
    margin-top: 5px;
}

.margin_bottom_5 {
    margin-bottom: 5px;
}

.margin_left_5 {
    margin-left: 5px;
}

.margin_right_5 {
    margin-right: 5px;
}

.margin_10 {
    margin: 10px;
}

.margin_top_10 {
    margin-top: 10px;
}
.margin_top_12 {
    margin-top: 12px;
}
.margin_bottom_10 {
    margin-bottom: 10px;
}

.margin_left_10 {
    margin-left: 10px;
}

.margin_right_10 {
    margin-right: 10px;
}

.margin_20 {
    margin: 20px;
}

.margin_top_20 {
    margin-top: 20px;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.margin_left_20 {
    margin-left: 20px;
}

.margin_right_20 {
    margin-right: 20px;
}

.margin_top_25 {
    margin-top: 25px;
}

.margin_10_top_bottom {
    margin: 10px 0;
}

.margin_10_left_right {
    margin: 0 10px;
}

.margin_12_left_right {
    margin: 0 12px;
}



/* 宽高 */

.width_height_10 {
    width: 10px;
    height: 10px;
}

.width_height_15 {
    width: 15px;
    height: 15px;
}

.width_height_20 {
    width: 20px;
    height: 20px;
}

.width_height_30 {
    width: 30px;
    height: 30px;
}

.width_height_50 {
    width: 50px;
    height: 50px;
}

.width_height_60 {
    width: 60px;
    height: 60px;
}

.width_height_120 {
    width: 120px;
    height: 120px;
}

.top_0 {
    top: 0;
}

.right_0 {
    right: 0px;
}

.right_5 {
    right: 5px;
}

.right_10 {
    right: 10px;
}

/*.choose_tab{
    color: #1989fa!important;
} */

.choice {
    color: #1989fa!important;
}

.choice_blue {
    color: #3190e8!important;
}

.choice_blue_arrow {
    color: #3190e8!important;
    transform: rotate(-180deg)!important;
    /* transition: transform 0.2s; */
}

.bg_green {
    background: #56d176;
}

.bg_black {
    background: #333;
}

.bg_black_2E2F3B {
    background: #2E2F3B;
}

.bg_blue {
    background: #3190e8;
}

.bg_yellow {
    background: #FFC300;
    /* background: #cf4a3b; */
}

.bg_gray {
    background: #f6f6f6;
}

.bg_white {
    background: #fff;
}

.bg_red {
    background: #cf4a3b;
}

.bg_fff {
    background: #fff;
}

.bg_red {
    background: #ff461d;
}

.bg_green {
    background: #4cd964;
}

.span_red {
    color: #ff461d;
}

.span_white {
    color: #fff;
}

.span_black {
    color: #222;
}

.span_yellow {
    color: #FFC300;
}

.span_gray {
    color: #999;
}

.overflow_auto {
    overflow: auto;
}

.overflow_hidden {
    overflow: hidden;
}

/*线条颜色  */

.line_bg_gray {
    background: #e4e4e4;
}

/* 边界 */

.border_all {
    border: 1px solid #e4e4e4;
}

.border_top {
    border-top: 1px solid #e4e4e4;
}

.border_left {
    border-left: 1px solid #e4e4e4;
}

.border_right {
    border-right: 1px solid #e4e4e4;
}

.border_bottom {
    border-bottom: 1px solid #e4e4e4;
}

.border_none {
    border: 0px solid!important;
}

/* 公共样式 */

/* 字体大小 */

/* 小于12px */

.font10_left {
    font-size: 12px;
    -webkit-transform: scale(0.8);
    /*解决缩小后字体不居中显示问题*/
    -webkit-transform-origin-X: left;
}

.font10_center {
    font-size: 12px;
    -webkit-transform: scale(0.8);
    /*解决缩小后字体不居中显示问题*/
    -webkit-transform-origin-X: center;
}

.font10_right {
    font-size: 12px;
    -webkit-transform: scale(0.8);
    /*解决缩小后字体不居中显示问题*/
    -webkit-transform-origin-X: right;
}

.font11_left {
    font-size: 14px;
    -webkit-transform: scale(0.8);
    /*解决缩小后字体不居中显示问题*/
    -webkit-transform-origin-X: left;
}

.font11_center {
    font-size: 14px;
    -webkit-transform: scale(0.8);
    /*解决缩小后字体不居中显示问题*/
    -webkit-transform-origin-X: center;
}

.font11_right {
    font-size: 14px;
    -webkit-transform: scale(0.8)!important;
    /*解决缩小后字体不居中显示问题*/
    -webkit-transform-origin-X: right;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}
.font22 {
    font-size: 22px;
}
.font23 {
    font-size: 23px;
}
.font25 {
    font-size: 25px;
}

/* 加粗 */

.weight_600 {
    font-weight: bold;
}

/* 颜色 */

.color_gray {
    color: gray;
}

.color_org {
    color: #f60;
}

.color_black3 {
    color: #333;
}

.color_blue {
    color: #3190e8;
}

/* 分割条 */

.split {
    width: 100%;
    background: #f6f6f6;
    height: 10px;
}

/* 窗口布局 固定底部 */

.fixed_full {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.relative_full {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.fixed_bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.fixed_top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

/* 弹性布局 */

/* 水平排列 */

.grow_0 {
    flex-grow: 0;
}

/* 铺满剩余空间 */
.grow_1 {
    flex-grow: 1;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 竖直排列 */

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 竖直水平居中 */

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 竖直居中 */

.flex_center_col {
    display: flex;
    align-items: center;
}
/* 方向竖直 水平居中 */
.flex_center_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.flex_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 两端对齐，元素之间的间隔都相等。 */

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 左对齐 */

.flex_start {
    display: flex;
    justify-content: flex-start;
}

/* 右对齐 */

.flex_end {
    display: flex;
    justify-content: flex-end;
}

/* 组件公共样式 */

.search_content {
    flex-grow: 1;
}

/* 箭头 */
.arrow_right_vant{
    color:#c8c9cc!important;

}
.arrow_color{
    color:#c8c9cc;
}
.arrow_left {
    color: #333;
    font-size: 21px;
    position: absolute;
}

.arrow_right {
    width: 5px;
    height: 5px;
    border: 2px solid gray;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
}

.arrow_right_vant {
    position: absolute!important;
    right: 0;
}

.arrow_down {
    width: 5px;
    height: 5px;
    border: 2px solid gray;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
}

/* 实心 向下 */

.arrow_down_full {
    transform: rotate(0deg);
    /* transition: transform 0.2s; */
    border: 5px solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-left: 5px;
}

.food_top {
    height: 25px;
}

.food_arrow_left {
    position: absolute;
    left: 15px;
}

.img-inner-box {
    height: auto !important;
    overflow: hidden;
}

.van-toast .van-toast__text {
    color: white;
}

.common_container {
    position: relative!important;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 42px;
    overflow-y: auto;
    overflow-x: hidden;
}

.commit_order {
    width: 92%;
    left: 50% !important;
    overflow: hidden;
    margin-left: -46%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.commit_order .bg_yellow {
    background: -webkit-linear-gradient(left, #ffd01e, #FFC300 100%);
}

.commit_order_price span:nth-child(2) {
    left: 16px;
    /* bottom: 0; */
}

.commit_order_price span:nth-child(1) {
    left: 3px;
    /* bottom: 0; */
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.display_hidden {
    display: none!important;
}
.display_show {
    display: block!important;
}

.display_block {
    display: flex!important;
}
